/*=============================
	25. Contact Us Page CSS Start
===============================*/
.ep-contact-section {
  .contact-information {
    margin-bottom: 80px;

    .info-item {
      border: 1px solid var(--bs-border-color);
      padding: 20px 30px;
      height: 100%;

      .icon {
        width: 65px;
        height: 65px;
        transition: var(--bs-transition);
      }

      .text {
        .title {
          margin-bottom: 7px;
        }

        ul {
          li {
            color: var(--bs-paragraph-color);

            a {
              color: var(--bs-paragraph-color);

              &:hover {
                color: var(--bs-primary-color);
              }
            }
          }
        }
      }

      &:hover {
        .icon {
          background-color: var(--bs-primary-color);
          color: var(--bs-white-color);
        }
      }
    }
  }

  .contact-form {
    border-radius: 40px;
    padding: 60px;
    margin-bottom: -125px;
    z-index: 1;

    .title {
      margin-bottom: 46px;
    }

    .input-group {
      .form-field {
        background-color: transparent;
        height: 60px;
      }

      .textarea-control {
        height: 149px;
      }
    }

    .theme-btn {
      max-width: 570px;
      width: 100%;
      background-color: var(--bs-primary-color);
    }
  }

  .contact-map {
    margin-bottom: -128px;

    iframe {
      width: 100%;
      height: 737px;
    }
  }

  .ajax-response.error {
    margin-top: 30px;
    color: red;
    font-size: 14px;
    font-weight: 500;
    background-color: rgba(255, 0, 0, 0.1);
    border: 1px solid rgba(255, 0, 0, 0.5);
    border-radius: 8px;
    padding: 10px 20px;
  }

  .ajax-response.success {
    margin-top: 30px;
    color: green;
    background-color: rgba(0, 128, 0, 0.1);
    border: 1px solid rgba(0, 128, 0, 0.5);
    font-weight: 500;
    font-size: 14px;
    font-weight: 500;
    border-radius: 8px;
    padding: 10px 20px;
  }
}

@media (max-width:1199.98px) {
  .ep-contact-section .contact-map iframe {
    height: 437px;
  }
}

@media (max-width:991.98px) {
  .ep-contact-section .contact-form .title {
    font-size: 42px;
  }

  .ep-contact-section .contact-form {
    padding: 30px;
  }
}

@media (max-width:575.98px) {
  .ep-contact-section .contact-form .title {
    font-size: 38px;
    margin-bottom: 20px;
  }
}