@use "../components/header" as *;
@use "../components/banner" as *;
@use "../components/features" as *;
@use "../components/about" as *;
@use "../components/services" as *;
@use "../components/who-we-are" as *;
@use "../components/counter" as *;
@use "../components/team" as *;
@use "../components/pricing" as *;
@use "../components/messages" as *;
@use "../components/call-to-action" as *;
@use "../components/testimonial" as *;
@use "../components/projects" as *;
@use "../components/text-slider" as *;
@use "../components/faq" as *;
@use "../components/blog" as *;
@use "../components/footer" as *;
@use "../components/page-header" as *;
