/*=============================
	06. About Us CSS Start
===============================*/
.ep-about-section {
  .about-image {
    padding-right: 60px;
    margin-top: -40px;

    .about-shape {
      right: 50px;
      top: 73px;
      animation: spin 26s infinite linear;
    }

    .clients {
      background-color: var(--bs-white-color);
      padding: 19px 30px;
      bottom: 100px;
      right: 15px;
      gap: 20px;

      .counter-info {
        .number {
          font-family: var(--bs-font-secondary);
          font-size: 32px;
          font-weight: 500;
          line-height: 40px;
          letter-spacing: -0.64px;
        }

        p {
          margin-top: 3px;
        }
      }
    }
  }

  .about-text {
    .list-box {
      margin-bottom: 62px;

      .list-info {
        li {
          i {
            color: var(--bs-primary-color);
            font-size: 16px;
            margin-right: 15px;
          }
        }

        li+li {
          margin-top: 20px;
        }
      }
    }

    .list-wrapper {
      .list-info {
        border-right: 3px solid rgba(204, 204, 204, 0.5);
      }

      &:last-child {
        .list-info {
          border: 0;
        }
      }
    }
  }
}

.ep-about-section.style2 {
  .about-image {
    .clients {
      box-shadow: 0px 5px 60px rgba(0, 0, 0, 0.05);
    }
  }
}

@media (max-width:1399.98px) {
  .ep-about-section .about-image .clients {
    bottom: 10px;
  }
}

@media (max-width:767.98px) {
  .ep-about-section .about-text .list-box {
    margin-bottom: 32px;
  }

  .ep-about-section .about-text .list-wrapper .list-info {
    border-right: 0;
  }

  .ep-about-section .about-image .about-shape {
    top: 106px;
    width: 120px;
  }

  .ep-about-section .about-image {
    padding-right: 0;
    margin-top: -80px;
  }
}

@media (max-width:575.98px) {
  .ep-about-section .about-image .clients {
    bottom: -51px;
    right: 62px;
  }

  .ep-about-section .about-image .about-shape {
    top: 66px;
    width: 78px;
    right: 36px;
  }

  .ep-about-section .about-text {
    margin-top: 60px;
  }

  .ep-about-section .about-text .list-box .list-info li+li {
    margin-top: 10px;
  }

  .ep-about-section .about-image {
    margin-left: -36px;
  }
}