/*=============================
	18. Blog CSS Start
===============================*/
// Blog section one
.ep-blog-section {
	.blog-item {
		background-color: var(--bs-white-color);
		box-shadow: var(--bs-shadow);

		.img {
			border-top-right-radius: 20px;
			border-top-left-radius: 20px;

			img {
				transition: var(--bs-transition);
				height: 100%;
				object-fit: cover;
			}
		}

		.text {
			padding: 20px 40px 40px 40px;

			.blog-title {
				margin-bottom: 10px;

				a {
					color: var(--bs-black-color);
				}

				&:hover {
					a {
						color: var(--bs-secondary-color);
					}
				}
			}

			p {
				margin-bottom: 30px;
			}
		}

		&:hover {
			.img {
				img {
					transform: scale(1.1);
				}
			}
		}
	}
}

.blog-meta {
	margin-bottom: 20px;

	a {
		color: var(--bs-paragraph-color);
		font-size: 18px;
		font-weight: 400;
		line-height: 28px;
		letter-spacing: -0.36px;

		i {
			color: var(--bs-secondary-color);
			font-size: 14px;
			margin-right: 10px;
		}
	}
}

.blog-meta.style2 {
	margin-bottom: 30px;
	white-space: nowrap;
	bottom: 0px;
	border-radius: 5px;
	gap: 40px;
	padding: 5px 20px;

	.date {
		color: var(--bs-black-color);
		font-size: 18px;
		font-weight: 700;
		line-height: 30px;

		span {
			padding-left: 10px;
			color: var(--bs-paragraph-color);
			font-size: 14px;
			font-weight: 400;
			line-height: 18px;
			letter-spacing: -0.36px;
			position: relative;
			top: -2px;
		}
	}

	.admin {
		color: var(--bs-black-color);
		font-size: 14px;
		font-weight: 400;
		line-height: 20px;
		letter-spacing: -0.36px;
		position: relative;

		&::before {
			position: absolute;
			width: 1px;
			height: 20px;
			background-color: var(--bs-secondary-color);
			top: 0;
			left: -20px;
			content: "";
		}
	}
}

// Blog section two
.ep-blog-section-two {
	.blog-item {
		margin: 0 15px;
		box-shadow: none;

		.img {
			border-top-right-radius: 30px !important;
			border-top-left-radius: 30px !important;

			img {
				transition: var(--bs-transition);
				height: 100%;
				object-fit: cover;
			}
		}

		.blog-title {
			margin-bottom: 30px !important;
		}
	}

	.arrows {
		width: 60px;
		height: 60px;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		color: var(--bs-primary-color);
		background: rgba(71, 177, 106, 0.10);
		cursor: pointer;
		transition: var(--bs-transition);
		position: absolute;
		top: -123px;
		left: calc(100% - 75px);
		z-index: 9;
		margin-top: 0;

		&:hover {
			background: var(--bs-primary-color);
			color: var(--bs-white-color);
		}
	}

	.arrow-prev {
		margin-left: -80px;
	}
}

@media (max-width: 1399.98px) {
	.ep-blog-section .blog-item .text {
		padding: 20px 20px 30px 20px;
	}
}

@media (max-width: 1199.98px) {
	.blog-meta a {
		font-size: 15px;
	}

	.ep-blog-section .blog-item .text {
		padding: 30px;
	}
}

@media (max-width: 991.98px) {
	.ep-blog-section-two .blog-item .blog-title {
		font-size: 20px;
		line-height: 32px;
	}
}

@media (max-width: 767.98px) {
	.ep-blog-single-section .blog-item {
		margin-bottom: 40px !important;
	}
}

@media (max-width: 575.98px) {}