/*=============================
	05. Features CSS Start
===============================*/

.ep-features-section {
	padding-bottom: 149px;

	.feature-image {
		padding-left: 35px;

		&::after {
			position: absolute;
			bottom: -32px;
			left: 0;
			width: 413px;
			height: 229px;
			border-radius: 20px;
			background-color: var(--bs-primary-color);
			content: "";
		}

		.img-one {
			max-width: 482px;
			z-index: 9;

			img {
				height: 100%;
				object-fit: cover;
			}
		}

		.img-two {
			max-width: 331px;
			border: 14px solid var(--bs-white-color);
			border-radius: 34px;
			bottom: -72px;
			right: 0;
			z-index: 99;

			img {
				height: 100%;
				object-fit: cover;
			}
		}

	}

	.feature-text {
		padding-left: 43px;
		padding-right: 70px;
		margin-top: 14px;

		.feature-item {
			gap: 30px;

			.icon-box {
				flex: 0 0 auto;
			}

			.info {
				.feature-title {
					font-size: 22px;
					font-weight: 700;
					line-height: 36px;
					margin-bottom: 10px;
				}
			}
		}

		.feature-item+.feature-item {
			margin-top: 30px;
		}
	}
}

@media (max-width: 1399.98px) {}

@media (max-width: 1199.98px) {
	.ep-features-section .feature-text {
		margin-top: 0;
	}

	.ep-features-section .feature-text .feature-item+.feature-item {
		margin-top: 22px;
	}

	.ep-features-section .feature-text {
		padding-left: 0;
		padding-right: 0;
	}
}

@media (max-width: 991.98px) {
	.ep-features-section .feature-text {
		margin-top: 100px;
	}

	.ep-features-section {
		padding-bottom: 100px;
	}
}

@media (max-width: 767.98px) {}

@media (max-width: 575.98px) {
	.ep-features-section .feature-image .img-two {
		display: none;
	}

	.ep-features-section .feature-image {
		padding-left: 13px;
	}

	.ep-features-section .feature-image::after {
		bottom: -13px;
		width: 100%;
	}

	.ep-features-section .feature-text {
		margin-top: 40px;
	}
}